<!DOCTYPE html>
<html lang='en'>
<head>
	<meta charset='UTF-8'>
	<title>Chat</title>
	<!-- Latest compiled and minified CSS -->
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css'>
    <!-- Optional theme -->
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css'>
    <!-- Latest compiled and minified JavaScript -->
	<link rel='stylesheet' type='text/css' href='../CSS/normalize.css'/>
    <link rel='stylesheet' type='text/css' href='../CSS/SAC.css'/>
</head>
<body>
	<div class='col-md-2 center center-block no-float'>
		<h3 class=''>En comunicación con el Doctor.</h3><br><br>
		<video src='../sources/M4H02554.MP4' weight='500' width='500'></video><br><br>
	
	<button type='button' class='btn btn-sm btn-warning'>Visitar Perfil Doctor</button><br><br>
	<button type='button' class='btn btn-sm btn-danger'>Terminar Chat</button>
	</div>
	<br><br><br><br>
	
	<div class="col-md-3 center center-block no-float">
		<h3>En comunicación con el doctor</h3><br><br>
		<div>Historial de mensajes</div><br><br>
		<textarea name="" id="input" class="form-control" rows="3" required="required" placeholder="Escriba su Mensaje"></textarea><br><br>
		<button type="submit" class="btn btn-primary">Enviar mensaje</button><br><br>
		<button type='button' class='btn btn-sm btn-warning'>Visitar Perfil Doctor</button><br><br>
		<button type='button' class='btn btn-sm btn-danger'>Terminar Chat</button>
	</div>
	<script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js'></script>
	<script src='JS/jquery-2.1.1.min.js'></script>
</body>
</html>