<!DOCTYPE html>
<html lang='en'>
<head>
	<meta charset='UTF-8'>
	<title>Chat</title>
	<!-- Latest compiled and minified CSS -->
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css'>
    <!-- Optional theme -->
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css'>
    <!-- Latest compiled and minified JavaScript -->
	<link rel='stylesheet' type='text/css' href='../CSS/normalize.css'/>
    <link rel='stylesheet' type='text/css' href='../CSS/SAC.css'/>    
</head>
<body>
	<header>Aquí va el menu y header</header><br/><br>
	<div class='col-md-2 center center-block no-float'>
		<h3 class=''>Chat En vivo</h3><br><br>
		<h5>Seleccione a alguno de los doctores disponibles</h5><br><br>
		<div class='seccion de los botones' id='Doctores'>
			<a href='sChat?id=id_doctor'><button type='button' class='btn btn-sm btn-default'>Dr. Juan Perez</button></a><br><br>
			<a href='sChat?id=id_doctor'><button type='button' class='btn btn-sm btn-default'>Dr. Pedro Maldonado</button></a>
		</div>
		<label for='Doctores' class='right'>Tip: De click sobre el nombre de algun doctor :D (Voy a la Derecha)</label>
	</div>
	<br><br><br>
	<div class='col-md-2 center center-block no-float'>
	<h3 class=''>Chat Escrito</h3><br><br>
	<h5>Seleccione a alguno de los doctores disponibles</h5><br><br>
	<div class='seccion de los botones' id='Doctores'>
		<a href='sChat?id=id_doctor'><button type='button' class='btn btn-sm btn-default'>Dr. Juan Perez</button></a><br><br>
		<a href='sChat?id=id_doctor'><button type='button' class='btn btn-sm btn-default'>Dr. Pedro Maldonado</button></a>
	</div>
	<label for='Doctores' class='right'>Tip: De click sobre el nombre de algun doctor :D (Voy a la Derecha)</label>
	</div>

	<script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js'></script>
	<script src='JS/jquery-2.1.1.min.js'></script>
</body>
</html>